@charset "UTF-8";
/* CSS Document */

.troubleshooting,
.troubleshooting.inline {
	display: none;
    text-align: left;
}

.dev-view .troubleshooting {
	display: block;
	padding: 1rem;
	background-color: #91F718;
}


.dev-view .troubleshooting.inline {
	display: inline;
    background-color: transparent;
	color: #42A406;
	padding: 0 1rem;
	margin-bottom: 0;
}

/*** GRID & FLEX layouts -- for events, landing pages, &c. ***/

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: space-around; /* was: center; */
	margin-bottom: 1.5rem;
}

.flex-container.centered {
    justify-content: center;
}

/*.flex-container > div {
	margin: 0 0.5rem;
}*/

.flex-box {
	position: relative;
	display: block;
	padding: 0;
    text-align: center;
	overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 250px; /* was 300 */
    border: 1px solid #eee;
    border-radius: 9px 9px 0 0;
    margin-bottom: 1rem;
}

.flex-container.borderless .flex-box {
    border: none;
}

/*.spaced .flex-box,
.flex-box.spaced {
    margin: 1%;
}

.flex-box.flush {
    margin: 0;
}*/

.flex-container.twocol .flex-box {
    flex: 50%;
    max-width: 48%;
}

.flex-container.threecol .flex-box {
    flex: 33%;
    max-width: 32%;
}

.flex-container.fourcol .flex-box {
    flex: 25%;
    max-width: 24%;
    flex-basis: 250px;
}

.flex-container.centered .flex-box {
    margin-left: 1%;
    margin-right: 1%;
}

/*
.flex-container.twocol.spaced .flex-box,
.flex-container.twocol .flex-box.spaced {
    flex: 48%;
    max-width: 48%;
}

.flex-container.threecol.spaced .flex-box,
.flex-container.threecol .flex-box.spaced {
    flex: 31%;
    max-width: 31%;
}

.flex-container.fourcol.spaced .flex-box,
.flex-container.fourcol .flex-box.spaced {
    flex: 24%;
    max-width: 24%;
    flex-basis: 250px;
}
*/

.flex-container.squares .flex-box {
    /*background-color:deepskyblue;*/
}

.post-thumbnail.dp img {
    padding-top: 0.5rem;
}

/*** Excerpts ***/

.excerpt-full.hide {
	display: none;
}

.more-text.hide,
.less-text.hide {
	display: none;
}